i586
i486
i486xeno
i386
i386mac
x86_64
x86_64mac
x86_64xeno
sparc
powerpc
2700
2600
2400
obj
doc/html
doc/latex

.last_data
.parameter_pool_vars
.*_log
lwpr_varnames
d0*
learn/*.dcp
learn/*.lwpr

*~
src/*~
#*
.DS_Store

*.bak
*/#*
.cproject
.project
*.swp

